.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ticket-card {
  border: 1px solid #cccccc;
  padding: 5px;
}
.ticket-cards-container{

  display: grid;
margin:4%;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(3,1fr);
gap:2% 2%;
/* width:100vw; */

 }
 .ticket-card img {
  width:100%;
  height:60%;

 }

 form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #FFC371, #FF5F6D);
}

.logo {
  padding: 10px;
  text-align: center;
  align-items: left;
  margin-left: -150px;
}

.navigation {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 150px;
}

.nav-link {
  margin: 0 20px;
}

.nav-link a {
  text-decoration: none;
  color: #333;
  padding-right: 20px;
}

.nav-link a:hover {
  font-weight: bolder;
  font-size: x-large;
  background-color: #FD7272;
  color: #FFF;
}

.search {
  margin-top: 50px;
  margin-left: 200px;
}

#search-input {
  width: 350px;
  margin-bottom: 50px;
}

.input {
  border: 1px solid #FFD1DC;
  height: auto;
  border-radius: 10px;
  padding: 12px;
  background-color: #FFF;
  color: #333;
}
